{{outlet}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About EmTodo</h2>
  <p>
    I built this web app using ember.js. You can add a todo to your list of todos or check off todos and click update to remove them.
  </p>
</div>
