{{outlet}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Me</h2>
  <ul>
    <li>Email: ronaldnwilliams@gmail.com</li>
    <li>LinkedIn: https://www.linkedin.com/in/ronaldnwilliams/</li>
  </ul>
</div>
