{{outlet}}
<div class="row">
  <div class="col align-self-center">
    <h2>EmTodos</h2>
  </div>
</div>
<div class="row">
  <div class="col align-self-center">
    <ul class="list-group">
      {{#each model as |todo|}}
        {{todo-listing todo=todo}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col align-self-center">
    <button class="btn btn-lg btn-primary mt-2" type="button" name="button">Update</button>
  </div>
</div>
